<html>
<head>
	<title>Inventory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>

<body>
	<!--Nav Bar -->
	<nav class="navbar navbar-default">
	  		<div class="container-fluid">
	    		<div class="navbar-header">
	      			<a class="navbar-brand" href="../grocery">
	        			<img alt="Brand" src= "http://i.imgur.com/jCyrAuq.png">
	        		</a>

	        		<a class="navbar-brand" href="../inventory">
	      				<img alt="Brand" src= "http://i.imgur.com/syZdxMQ.png">
	      			</a>

	      			<a class="navbar-brand" href="../mealplanning">
	        			<img alt="Brand" src= "http://i.imgur.com/nddBSj3.png">
	        		</a>

	        		<a class="navbar-brand" href="../calorietracking">
	        			<img alt="Brand" src= "http://i.imgur.com/eSySeun.png">
	        		</a>
				</div>
	  		</div>
		</nav>
	
	<div class="container">
		<h3>Inventory</h3>

			<ul class="list-group">
			{{#each ingredients}}
				<li class="list-group-item">
					 	{{name}}


					 	<div class = "pull-right">  
					 		<a class = "dec" id = {{name}}> <i class="glyphicon glyphicon-minus-sign "></i> </a>
								{{quantity}}{{units}}
					 			


					 		<a class = "inc" id = {{name}}>  <i class="glyphicon glyphicon-plus-sign"></i> </a>
						</div>

				</li>



			{{/each}}
			</ul>
			
		




		<!-- Button -->
		<div>
			<button> Add an item </button>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/inventory.js"></script>
</body>
</html>
